{% extends 'header.html' %}
{% load static %}

{% block main %}

<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery/jquery.floatingscroll.css' %}">
<script type="text/javascript" src="{% static 'jquery/jquery.floatingscroll.min.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<style>

    h1 {
        text-align:center;
        color: #04C4D9;
    }

    .btn-success {
        margin-top: 28px;
        float: right;
    }

    .thead {
        background-color: #D3D3D3;

    }
    .edit {
        text-align: center;
    }

</style>

<br>
<h1 style="color: #04C4D9;">Funcionários</h1>
<hr>
<br>
<div class="row">
    <div class="col-sm-3">
        <label class="control-label"><b>Departamento</b></label>
        <select class="selectpicker form-control" name="department" id="department" data-live-search="True">
            <option value="">Todos</option>
            {% for d in department %}
                <option value="{{ d.id }}">{{ d }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-9">
        <a href="{% url 'edit_employee' %}">
            <button class="btn btn-success" id="" type="button">
                <span>Cadastrar Funcionário    </span>
                <i class="far fa-edit"></i>
<!--                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M19.25 1a.75.75 0 01.75.75V4h2.25a.75.75 0 010 1.5H20v2.25a.75.75 0 01-1.5 0V5.5h-2.25a.75.75 0 010-1.5h2.25V1.75a.75.75 0 01.75-.75zM9 6a3.5 3.5 0 100 7 3.5 3.5 0 000-7zM4 9.5a5 5 0 117.916 4.062 7.973 7.973 0 015.018 7.166.75.75 0 11-1.499.044 6.469 6.469 0 00-12.932 0 .75.75 0 01-1.499-.044 7.973 7.973 0 015.059-7.181A4.993 4.993 0 014 9.5z"></path></svg>-->
            </button>
        </a>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div class="scrollbar-table" id="table">
            <table class="table" id="data_table" style="padding: inherit;">
                <thead class="thead">
                    <tr>
                        <th scope="col" style="width: 200px;">Nome</th>
                        <th scope="col" style="width: 200px;">E-mail</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>

<script src="{% static 'javascript/employee_list.js' %}"></script>
<script>

</script>

{% endblock %}

