{% extends 'header.html' %}
{% load static %}

{% block main %}

<link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.min.css' %}">
<script type="text/javascript" src="{% static 'DataTables/datatables.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery/jquery.floatingscroll.css' %}">
<script type="text/javascript" src="{% static 'jquery/jquery.floatingscroll.min.js' %}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<style>

    h1 {
        text-align:center;
        color: #04C4D9;
    }

    .btn-success {
        margin-top: 28px;
        float: right;
    }

    .thead {
        background-color: #D3D3D3;

    }
    .edit {
        text-align: center;
    }

</style>

<br>
<h1 style="color: #04C4D9;">Funcionários</h1>
<hr>
<br>
<div class="row">
    <div class="col-sm-3">
        <label class="control-label"><b>Departamento</b></label>
        <select class="selectpicker form-control" name="department" id="department" data-live-search="True">
            <option value="">Todos</option>
            {% for d in department %}
                <option value="{{ d.id }}">{{ d }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-9">
        <a href="{% url 'edit_employee' %}">
            <button class="btn btn-success" id="" type="button">Cadastrar Funcionário</button>
        </a>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
        <div class="scrollbar-table" id="table">
            <table class="table" id="data_table" style="padding: inherit;">
                <thead class="thead">
                    <tr>
                        <th scope="col" style="width: 200px;">Nome</th>
                        <th scope="col" style="width: 200px;">E-mail</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Situação</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
<br>
<br>

<script src="{% static 'javascript/employee_list.js' %}"></script>

{% endblock %}

