{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nivens - Login</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="{% static 'icons/logo-nivens-nbg.png' %}" type="image/icon type">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/pswd.css' %}">
</head>
<body>
	{% load widget_tweaks %}
	<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-sm-10 col-lg-10 col-md-10 col-xs-12">
					<h3 class="title-text">Redefinição de Senha</h3>
				</div>
			</div>
			<div class="row">
				<form method="POST">
					{% csrf_token %}
					{% for field in form %}
						<div class="row">
							<div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
								<div class="form-group">
									<div class="profile-label" for="{{field.name}}">{% if field.label == 'New password confirmation' %}Confirme a nova senha{% elif field.label == 'New password' %}Nova senha{% else %}{{ field.label }}{% endif %}</div>
									{{ field|add_class:"form-control reset-input" }}
									<b style="color: indianred">{{ field.errors }}</b>
								</div>
							</div>
						</div>
						{% if field.name == 'new_password1' %}
							<div class="row">
								<small id="label-help" class="form-text text-muted">
									<ul>
										<li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
										<li>Sua senha precisa conter pelo menos 8 caracteres.</li>
										<li>Sua senha não pode ser uma senha habitualmente utilizada.</li>
										<li>Sua senha não pode ser inteiramente numérica.</li>
									</ul>
								</small>
							</div>
						{% endif %}
					{% endfor %}
					<button type="submit" class="btn btn-primary reset-request">Redefinir</button>
				</form>
			</div>
		</div>
	</div>
    <footer class="footer">
	  	<div class="container">
	    	<p class="footer-text">Feito por Nivens em São Caetano do Sul, 2021.</p>
	  	</div>
	</footer>
</body>

</html>

{% endblock %}