{% block content %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nivens - Login</title>
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="{% static 'icons/logo-nivens-nbg.png' %}" type="image/icon type">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/pswd.css' %}">
</head>
<body>
	{% load crispy_forms_tags %}
	{% load widget_tweaks %}
		<div class="jumbotron">
			<div class="container">
                <h3>Recuperação de Senha</h3>
				<div class="row">
					<div class="col">
						<p>Esqueceu sua senha? Informe seu seu endereço de e-mail abaixo para que novas instruções sejam informadas.</p>
						<br>
						<form method="POST">
						{% csrf_token %}
							<div>
								{{ password_reset_form|crispy }}
							</div>
							<br>
							<br>
							<button type="submit" class="btn btn-primary reset-request">Enviar E-mail</button>
						</form>
					</div>
				</div>
			</div>
		</div>

    <footer class="footer">
	  	<div class="container">
	    	<p class="footer-text">Feito por Nivens em São Caetano do Sul, 2021.</p>
	  	</div>
	</footer>
</body>
</html>

{% endblock %}