.jumbotron {
	margin: auto;
	margin-top: 50px;
	width: 430px;
	height: 520px;
	border: 1px solid #edeef0;
	border-radius: 20px;
	font-weight: 600;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
h3 {
    margin-top: 40px;
    margin-left: 35px;
}

.col {
	margin-top: 40px;
	color: white;
	font-weight: 1200px;
	font-size: 13px;
}

.footer {
	background-color: #011526;
 	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.0rem;
}

.footer-text {
	margin-top: 10px;
	color: #04C4D9;
	margin-left: 460px;
}

.title-text {
    margin-top: 5px;
    margin-bottom: 30px;
    text-align: center;
}

.save-psw {
     width: 35%;
     margin-left: 115px;
}