body{
    background-color: white;
    font-family: Poppins, sans-serif;
    font-style: inherit;
    font-size: medium;
    background: scroll;
}


.footer {
    left: 0;
    right: 0;
    width: 200%;
    padding: 20px;
    background: #011526;
    text-align: center;
    margin-top: 400px;
    font-size: 22px
    
}

button{
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 1px;
    border: 1px solid transparent
}

.logo-title{
    float: right;
    margin-top: -50px;
    margin-right: 220px;
    font-weight: 800;
}

/* Works on Firefox */
* {
    scrollbar-width: inherit;
    scrollbar-color: lightblue lightgrey;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: lightblue;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 20px;
    border: 3px solid  lightblue;
  }

.navbar-brand {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}