
.jumbotron {
	margin: auto;
	margin-top: 70px;
	width: 400px;
	height: 450px;
	border: 1px solid #edeef0;
	font-weight: 600;
}
h3 {
    margin-top: 40px;
    margin-left: 35px;
}
.message {
	width: 600px;
	height: 10px;
	margin-left: 80px;
	margin-top: 25px;
	font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
	font-weight: 1000;
	font-size: 100px;
	color: #02345e;
	text-shadow: rgba(60, 64, 67, 0.3) 4px 4px 4px;
}

.col {
	margin-top: 40px;
	color: white;
	font-weight: 1200px;
	font-size: 13px;
}

.login {
	margin-top: 50px;
	margin-left: 145px;
	width: 20%;
	background-color: #011526;
	border-color: #011526;
}

.login:hover {
	background-color: #02345e;
	border-color: #02345e;
}

.footer {
	background-color: #011526;
 	position: absolute;
	bottom: 0;
	width: 100%;
	height: 3.0rem;
}

.footer-text{
	margin-top: 10px;
	color: #04C4D9;
	margin-left: 460px;
}


.eye {
    float: right;
}

.psw {
    margin-top: 20px;
}